* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: .95rem;
}

ul, li {
  list-style-position: inside;
}

h3 {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif !important;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: pink;
}

button {
  border: 1px solid white;
  border-radius: 6px !important;
  background: black;
  font-weight: 600;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background .3s ease;
}

button:hover {
  border: none;
  background: #1F4C69;
  color: white;
  padding: 10px;
}

button:disabled {
  cursor: default;
  background: #698ea5;
}

.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: black;
}

.centered-form__form {
  background: black;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  padding: 0px 20px;
  margin: 20px;
  width: 230px;
  height: 310px;
}

.form-field {
  margin: 20px 0;
}

.form-field > * {
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif !important;
  font-weight: 600 !important;
}

.form-field input, .form-field select {
  border: 1px solid #e1e1e1;
  padding: 10px;
}

input[type=text] {
    border: 3px solid white;
    color: white;
    border-radius: 4px;
    background-color: black;
    webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input::placeholder {
  color: white;
  font-style: italic;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: black;
}

::-webkit-scrollbar-thumb
{
  background: white;
}

.btn {
    color: #FFFFFF !important;
    background: #000000 !important;
    cursor:pointer;
    font-size:1.07em !important;
    outline: none;
    font-weight: 700 !important;
    width: 190px;
    margin-top: 2%;
    font-family: 'Quattrocento Sans', sans-serif;
    border-radius: 15px !important;
    border: white 2px solid;
}

.btn-primary{
    border-color: white !important;
    width: 150px !important;
}

.btn-wrapper{
  display: flex;
  justify-content: center;
}

.black{
    background: black;
}

.shrink{
  margin-top: 10%;
  margin-left: 28%;

}

.chat {
  display: flex;
}

.chat__sidebar {
  overflow-y: scroll;
  width: 260px;
  height: 50vh;
  background: black;
  text-align: center;
  border: white 2px solid;
  border-radius: 5px;
}

.chat__sidebar h3 {
  color: #e6eaee;
  margin: 10px 20px;
  text-align: left;
}

.chat__sidebar ul {
  list-style-type: none;
}

.chat__sidebar li {
  list-style-type: none;
  background: black;
  color: white;
  font-weight: 700;
  border: 3.5px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.chat__main {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 40%;
  border: white 2px solid;
  border-radius: 5px;
}

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chat__footer {
  background: #e6eaee;
  display: flex;
  padding: 2.5px;
  /*height: 60px;*/
  flex-shrink: 0;
}

.chat__footer form {
  flex-grow: 1;
  display: flex;
}

.chat__footer form * {
  margin-right: 10px;
}

.chat__footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
}

.chat__messages {
  list-style-type: none;
  padding: 10px;
}

.message {
  padding: 10px;
  color:white;
}

.message__title {
  display: flex;
  margin-bottom: 5px;
}

.message__title h4 {
  font-weight: 600;
  margin-right: 10px;
}

.message__title span {
  color: #999;
}

@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .chat__sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer form {
    margin-bottom: 10px;
  }

  .chat__footer button {
    margin-right: 0px;
  }
}